html,
body, #root, .App{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: whitesmoke;
  font-size: 30px;
  height: 18%;
  width: inherit;
  background-image: linear-gradient(to left, red , #12056A);
}

.grid {
  width: fit-content;
  padding: 50px;
}

.header, .chars, .chars div, .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chars div {
  flex-direction: row;
}

.chars div div{
  min-width: 70px;
  height: 30px;

  border: 1px solid grey;
  border-radius: 4px;  
}

.chars .special-symbols div {
  width: 94.33px;
}

.main-body {
  height: 80%;
  width: 100%;

  display: flex;
  flex-direction: row;
  margin: auto auto;
  justify-content: space-around;
  align-items: center;
}

#text_area {
  width: 40%;
  height: 50%;
  font-size: 25px;
  background-color: lightgrey;
}

.calculator-div {
  width: 40%;
  height: 50%;
}

#display {
  font-size: 30px;
  width: 100%;
  height: 20%;
}

#buttons div {
  width: 100%;
  height: 100%;
  background-color: brown;
}

button {
  font-size: 30px;
  width: 24%;
  height: 50%;
}

#equals {
  width: 49%;
}
